@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
// Colors
$primary-byan: hsl(179, 62%, 43%);
$secondary-bright-yellow: hsl(71, 73%, 54%);
$tertiary-light-gray: hsl(204, 43%, 93%);
$quaternary-grayish-Blue: hsl(218, 22%, 67%);
$white: hsl(0, 0%, 95%);
// Breakpoints
$sm: 48.5rem;
$xl: 144rem;

// Typography
$fSize: 16px;
$fFamily: 'Karla', sans-serif;

// Global

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html{
    font-size: 62.5%;
}

body{
    font-size: $fSize;
    font-family: $fFamily;
}

button{
    cursor: pointer;
    outline: none;
    border: none;
}

li{
    list-style: none;
}

.container{
    width: 100vw;
    min-height: 100vh;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
}


.section{
    background-color: $tertiary-light-gray;
    max-width: 72rem;
    // width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    box-shadow: 2px 3px 5px rgba(0,0,0,0.5);
    border-radius: 1rem;
    flex-wrap: wrap;

    @media screen and (max-width:($sm)) {
        max-width: 34rem;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 2rem;
    }

    &__col-1{
        background-color: #fff;
        height: 25rem;
        flex: 100%;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;

        // Mobile 
        @media screen and (max-width:($sm)) {
            display: flex;
            align-items: center;
            margin-right: 0;
            height: 30rem;
        }

        .aside-title{
            margin-top: 5rem;
            margin-left: 4rem;
            margin-right: auto;
            width: 85%;

            @media screen and (max-width:($sm)) {
             width: 90%;
             margin-top: 0;
             margin-right: auto;
             margin-left: auto;
            }

            &__heading{
                color: $primary-byan;
                font-size: 3rem;
                margin-bottom: 1.5rem;

                @media screen and (max-width:($sm)) {
                    font-size: 2.5rem;
                   }
              }
      
              &__subtitle{
                color: $secondary-bright-yellow;
                font-size: 2.5rem;
                margin-bottom: 1.5rem;

                @media screen and (max-width:($sm)) {
                    font-size: 1.6rem;
                }
                
              }
      
              &__description{
                font-size: 1.8rem;
                line-height: 1.5;
                color:  $quaternary-grayish-Blue;

                @media screen and (max-width:($sm)) {
                    width: 100%;
                    font-size: 1.6rem;
                    line-height: 2;
                }
              }
        }

       
    }

    &__col-2{
        background-color: $primary-byan;
        flex: 50%;
        height: 30rem;
        border-bottom-left-radius: 1rem;
         
        // Mobile 
        @media screen and (max-width:($sm)) {
           height: 25rem;
           border-bottom-left-radius: 0;
        }

        .aside-subscription{
            display: flex;
            margin-top: 5rem;
            align-items: center;
            flex-direction: column;

              // Mobile 
        @media screen and (max-width:($sm)) {
            margin-top: 2.5rem;
         }

            &__subscription{
                color: $tertiary-light-gray;
                margin-bottom: 2rem;
                margin-right: 6.5rem;

            }
            &__value{
                color: $tertiary-light-gray;
                margin-bottom: 1.2rem;
                font-size: 4rem;
                margin-right: 10rem;
                display: flex;
                align-items: center;

                span{
                    color: $white;
                    font-size: 1.4rem;
                    margin-left: 1.5rem;
                }
            }
            &__date{
                color: $tertiary-light-gray;
                margin-right: 2rem;
            }
            &__btn{
                color: $tertiary-light-gray;
                background-color: $secondary-bright-yellow;
                width: 75%;
                height: 5rem;
                border-radius: 0.5rem;
                margin-top: 3.5rem;
                font-weight: 700;
                font-size: 1.6rem;
                margin-right: 1rem;
                box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
            }
        }
    
    }
    &__col-3{
        background-color: #4abebd;
        flex:  50%;
        height: 30rem;
        border-bottom-right-radius: 1rem;

        // Mobile 
        @media screen and (max-width:($sm)) {
            height: 25rem;
            border-bottom-left-radius: 1rem;

         }
         
         .aside-tutorial{
             display: flex;
             flex-direction: column;
             margin-left: 4rem;
        
            &__title{
                margin-top: 4.5rem;
                margin-bottom: 1rem;
                color: $tertiary-light-gray;

                 // Mobile 
        @media screen and (max-width:($sm)) {
            margin-top: 2rem;
         }
         
            }
            &__description{
                text-align: left !important;
                width: 70%;
                line-height: 1.8;
                color: $tertiary-light-gray;
                 
                h6{
                    font-weight: 400;    
                    font-size: 1.4rem;
                }
            }
         }
        
    }
}

